<div class="form-group container-margin" [formGroup]="form">
  <label class="form-label" [attr.for]="field.key">{{field.label}}</label>

  <div [ngSwitch]="field.controlType">

    <input class="form-item" *ngSwitchCase="'text'" [formControlName]="field.key"
           [id]="field.key" [type]="field.type">

    <select class="form-item" [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" >
      <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <app-multiselect-dropdown *ngSwitchCase="'multiselectDropdown'"
                              [field]="field"
                              [id]="field.key"
                              [formControlName]="field.key">
    </app-multiselect-dropdown>

  </div>

  <div class="errorMessage float-right" *ngIf="!isValid">*Field cannot be empty</div>
</div>
