@import "../../../../variables";
.msd-list-item{
  height: 42px;
  width: 100%;
}
.delete-btn {
  width: 84px;
  height: 21px;
  background-color: $color-red;
  border-radius: .25rem;
  color: $white;
  font: 400 13.3333px Arial;
  padding:0px 0px;
  border-width: 0px;
  margin: 10px auto;
  margin-right: 20px;
}

.delete-btn:active {
  opacity: 90%;
  outline: 0px;
}

