<select
  class="form-item mb-3"
  [disabled]="disabled"
  [value]="value"
  (change)="onChange($event.target.value)"
  (blur)="onTouched()">
  <option *ngFor="let opt of field.options" [value]="opt.key">
    {{ opt.value }}
  </option>
</select>
<div class="msd-list-item form-item d-flex justify-content-between align-items-center"
     *ngFor="let item of field.value;let i = index;">
  {{item.value}}
  <button class="delete-btn float-lg-right " (click)="removeItem(i)"><i class="fas fa-trash"></i> Delete</button></div>

