<div>
  <form class="form-container container-padding form-item" (ngSubmit)="onSubmit()" [formGroup]="form">
    <app-title-header [title]="headerTitle"></app-title-header>
    <div *ngFor="let field of fields">
      <app-dynamic-form *ngIf="form" [field]="field" [form]="form"></app-dynamic-form>
    </div>

        <div class="d-flex container-margin mt-4 justify-content-end">
          <button type="button" class="btn btn-outline-secondary mr-5  btn-default"
          (click)="onCancel()"><i class="fas fa-times"></i> Cancel</button>
          <button type="button" class="btn btn-default btn-dark" type="submit"
                  [disabled]="!form.valid"><i class="far fa-save"></i> Save</button>
        </div>
  </form>
</div>
