@import "../../../../variables";

.form-container {
  margin:  $space-around auto;
  background: $white;
  box-shadow: $box-shadow;
}

@media (min-width: 900.1px) {
  .form-container{
    width: 38%;
  }
}
@media (max-width: 900px) {
  .form-container{
    width: 360px;
  }
}
