.app-nav{
  background-color: #FFFFFF;
}
.nav-item-active{
  border-bottom: 3px solid red;
}
.app-nav-item{
  font-family: 'Calibri';
  text-transform: uppercase;
  margin-right: 40px;
}


.navbar-nav{
  padding-left:110px;
}
