<nav class="navbar navbar-expand-lg navbar-light app-nav">
  <a class="navbar-brand" href="#">
    <img src="assets/img/sim-logo.png"
         width="228" height="46"
         class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link app-nav-item" routerLinkActive="nav-item-active" routerLink="/home">Home</a>
      <a class="nav-item nav-link app-nav-item" routerLinkActive="nav-item-active" routerLink="/suppliers">Suppliers<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled app-nav-item" href="#" tabindex="-1" aria-disabled="true">About</a>
    </div>
  </div>
</nav>
