@import "../../../variables";
.list-container {
  margin:  $space-around auto;
  background: $white;
  box-shadow:$box-shadow;
  padding: 0 100px 100px 100px;
  box-sizing: content-box;
}
.app-txt-color{
  color:$color-dark-gray
}
.app-header th{
  border: 0px;
  font-weight: normal;
}
.active td{
  background-color: $color-medium-gray;
}

.list-container{
  padding-top:$space-around;
  width: 80%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

