<div class="list-container">
  <app-title-header [title]="'Suppliers'"></app-title-header>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" (click)="onNewSupplier()"
              class="btn btn-outline-secondary float-right m-2"><i class="fas fa-plus"></i> Create new</button>
    </div>
  </div>
  <table class="table table-striped app-txt-color">
    <thead class="app-header">
    <tr>
      <th *ngFor="let col of tableColums" scope="col" >{{col}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let supplier of suppliers; let i = index"
        [routerLink]="[i]"
        [ngClass]="isActive==i?'active':''"
        (mousedown)="isActive = i"
        (mouseup)="isActive = -1"
        routerLinkActive="active-list-item">
      <td >{{supplier.ggn}}</td>
      <td>{{supplier.name}}</td>
      <td>{{supplier.country}}</td>
      <td>
      <span *ngFor="let role of supplier.roles">
        {{role}}<br>
      </span>
      </td>
      <td>{{supplier.sector}}</td>
      <td><i class="fas fa-ellipsis-v"></i></td>
    </tr>
    </tbody>
  </table>
</div>

