/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  background-color: $color-light-gray;
}

.form-item{
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  width: 100%;
  color: $color-dark-gray;
  font-family: 'Lato';
  vertical-align: middle;
  padding-left:$items-padding;
}

.container-margin{
  margin-left: 60px;
  margin-right: 60px;
}

.container-padding{
  padding: $space-around;
}
.form-label{
  font-weight: bold;
  font-family: 'Lato';
  color: gray;
}
