//colors
$color-light-gray: #F5F5F5;
$color-red: #CC121D;
$color-dark-gray: #707070;
$color-medium-gray: #bfbfbf;
$color-blue:#14374B;
$white:#FFFFFF;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);

//dimensions

$items-padding:20px;
$space-around:40px;
